{% extends "base.html" %}
{% load static %}

{% block head_title %}
    Pokemon Form
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <center>
                    {% if form_header == "Edit Pokemon" %}
                        <img src="{% static 'images/update_pokemon.png'%}" alt="" style="width:500px;">
                        <img src="{{image_url}}" style="width:200px;height:200px;" alt="pokemon front">
                    {% else %}
                        <img src="{% static 'images/create_new_pokemon.png'%}" alt="" style="width:500px;">
                        <img src="https://tinyurl.com/s7r5xcf" style="width:200px;height:200px;" alt="unknown pokemon">
                    {% endif %}
                </center>
            </div>
            <div class="card-body">
                {% include "pokedex/single_form.html"%}
            </div>
        </div>
    </div>
</div>
{% endblock %}
